<!DOCTYPE html>
<html lang="pt">
<head>

    <%- include ('../partials/head'); %>

    <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
                text-align: center;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
    </style>

    <title>Show Records</title>

</head>
<body>
    <%- include ('../partials/header');%>

    <table class="table table-hover marginMenu">
        <tr>
            <th>Placa</th>
            <th>Modelo</th>
            <th>Cor</th>
            <th>Combustível</th>
        </tr>
        <% carros.map(todo => { %>
        <tr>
            <td><%=todo.placa%></td>
            <td><%=todo.modelo%></td>
            <td><%=todo.cor%></td>
            <td><%=todo.combustivel%></td>           
        </tr>
        <% });%>
    </table>

    <div class="btn-group float-sm-right">
        <a href="/" class="btn btn-info btn-md">Home</a>
        <a href="/carro" class="btn btn-info btn-md">Adicionar carro</a>
        <a href="/atualizarCarro" class="btn btn-info btn-md">Atualizar carro</a>
        <a href="/deleteCar" class="btn btn-info btn-md">Deletar carro</a>
    </div>

    <%- include ('../partials/footer'); %>
</body>
</html>